* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  width: 640px;
  height: 480px;
  margin: auto;
}

canvas {
  outline: 1px solid #111;
}
